doctype html
html
    head
        title= "Finance"

        link(rel="stylesheet" href="/stylesheets/textbox.css")
        link(rel="stylesheet" href="/stylesheets/finance.css")
    
    body
        div(id="id_form_area")
            form(id="id_form")
                label(for="id_symbol")
                    span(id="id_search_text")= "Search: "
                    input(id="id_symbol" class="textbox" name="symbol" placeholder="SYMBOL" type="textbox")
        
        div(id="id_financial_statements_tabs")
            span(id="id_balance_sheet_tab")="Balance Sheet"
            span(id="id_income_tab")="Income Statement"
            span(id="id_cash_flow_tab")="Cash Flow"

        div(id="id_balance_sheet_area")
            
            
        div(id="id_income_area")

        div(id="id_cash_flow_area")

            

        