doctype html
html
    head
        title= "Finance"

        link(rel="stylesheet" href="/stylesheets/textbox.css")
        link(rel="stylesheet" href="/stylesheets/button.css")
        link(rel="stylesheet" href="/stylesheets/finance.css")

        script(src="/javascripts/finance.js")
    
    body
        div(id="id_form_area")
            form(id="id_form" action="/finance" method="get")
                label(for="id_symbol_search")
                    input(id="id_symbol_search" class="textbox" name="symbol" placeholder="SYMBOL" type="textbox")

                input(id="id_search_btn" class="btn btn-red" type="submit" value="Search")
        
        div(id="id_financial_statements_tabs")
            span(id="id_balance_sheet_tab" class="tab")= "Balance Sheet"
            span(id="id_income_tab" class="tab")= "Income Statement"
            span(id="id_cashflow_tab" class="tab")= "Cash Flow"

        div(id="id_income_statement")
            if income_statement!==undefined
                ul
                    each key in Object.entries(income_statement)
                        li
                            span(class="income_key")= key[0] 
                            span(class="income_value")= key[1]
        
        div(id="id_balance_statement")
            if balance_statement!==undefined
                ul
                    each key in Object.entries(balance_statement)
                        li
                            span(class="balance_key")= key[0] 
                            span(class="balance_value")= key[1]

        div(id="id_cashflow_statement")
            if cashflow_statement!==undefined
                ul
                    each key in Object.entries(cashflow_statement)
                        li
                            span(class="balance_key")= key[0] 
                            span(class="balance_value")= key[1]
                        
        

            

        